*{
    font-family: 'Comfortaa';
}
body{
    margin: 0;
    background-color: darkslategray;
    overflow: hidden;
}

.container {
    display: grid;
    grid-template:
    "header header header header"
    "main main main main"
    "footer footer footer footer"; 
}
  
.header{
    display: flex;
    grid-area: header;
    height: 10vh;
    background-color: rgb(136, 136, 136);
    justify-content: center;
    align-items: center;
}

.main{
    grid-area: main;
    text-align: center;
    height: 80vh;
    display: grid;
    grid-template:
    ". . single multi Radziu .";
    align-items: center;
    gap: 5vw;
}

.main a, .main a:link, .main a:visited{
    text-decoration: none;
    color: black;
}

.singlePlayer{
    grid-area: single;
}

.multiPlayer{
    grid-area: multi;

}


.singlePlayer, .multiPlayer, .Radziu{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(172, 172, 172);
    border-radius: 20px;
    border: 1px solid black;
    height: 25vh;
    transition: filter .3s ease-in-out;
}

.Radziu{
    border: 7px solid transparent;
    grid-area: Radziu;
    background-image: linear-gradient(#1F1926, #1F1926), 
    linear-gradient(var(--angle), #645176, #624b7a, #60447f, #5e3d83, #5b3687, #552f82, #4f277d, #492078, #3f176a, #350f5c, #2b064e, #210041);
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-color: #1F1926;
    color: #BBA1D4 !important;
    animation: 2.5s rotate linear infinite;
    transition: filter 1s ease-in-out;
}

.Radziu:hover, .Radziu:hover *{
    filter: grayscale(1) contrast(1.2);
    font-size: 141%;
    font-family: Tangerine;
}


@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotate {
    to {
      --angle: 360deg;
    }
}

.singlePlayer:hover, .multiPlayer:hover{
    filter: brightness(.5);
}


.footer{
    grid-area: footer;
    display: flex;
    align-items: center;
    height: 10vh;
    background-color: rgb(75, 75, 75);
    padding-left: 10px;
}

.footer a:link{
    color: white;
}
.footer a:visited{
    color: rgb(182, 182, 182);
}
.footer a:hover{
    color: rgb(133, 206, 206);
}

.overlay{
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.overlay.show{
    background-color: rgba(60, 0, 116, 0.938);
    mix-blend-mode: hue;
}

.noSelect{
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}