
body{
    margin: 0;
    background-color: darkslategray;
    font-family: 'Comfortaa', cursive;
}
.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "result result result result"
      "player player pc pc";
    justify-items: center;
  }
  
  .result { grid-area: result; text-align: center;}
  
  .player { grid-area: player; width: 200px;}
  
  .pc { grid-area: pc; width: 200px;}
  

.button1{
    width: 100%;
    height: 300px;
}


.image{
    width: 100%;
    height: auto;

}

.los, .losResult, .combo{
    width: 100%;
    height: 50px;
    text-align: center;
}
#but1{
    position: absolute;
    top: 350px;
    background-color: rgb(60, 100, 100);
    border: 0;
    font-size: 40px;
    transition: .2s ease-in-out;
}
#but1:hover{
    transform: scale(1.2);
    cursor: pointer;
}
#but1:active{
    transform: scale(1);
}
#winner{
    position: absolute;
    top: 400px;
}
.combo{
    position: absolute;
    top: 450px;
}

#pScore, #cScore{
    background-color: rgb(104, 104, 104);
    padding: 5px 0px;
    width: 60px;
    position: static;
    text-align: center;
    display: inline-block;
    border-radius: 20%;
}
.result{
    background-color: rgb(136, 136, 136);
    width: 100%;
}

.imageText{
    text-align: center;
}

.restart{
    overflow: hidden;
    display: flex;
    height: 0;
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.restart button{
    color: white;
    border: 2px groove black;
    background-color: gray;
    border-radius: 100px;
    font-size: 30px;
    padding: 20px;
    margin-top: 160px;
    transition: all .3s ease-in-out;
}

.restart button:hover{
    color: black;
    border: 2px groove white;
    background-color: darkgray;
}



.winnerText, .highestComboText{
    color: white;
}

.restart.show{
    animation: fadeIn 1s ease-in-out;
    animation-fill-mode: forwards;
    height: auto;
}

.restart.unshow{
    animation: fadeOut 1s ease-in-out;
    animation-fill-mode: forwards;
    height: 0;
    pointer-events: none;

}

.restart.delay{
    height: auto;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fadeOut {
    from{
        opacity: 1;
    }
    to{
        opacity: 0
    }
}